<section id="banner">
	<div class="inner">
    <h2>{{ .Site.Params.fancytitle | safeHTML }}</h2>
    <p style="font-size:30px;">{{ .Site.Params.description | safeHTML }}</p>
    <p style="font-size:20px; padding:100px; text-align: justify;">{{ .Site.Params.extended | safeHTML }}</p>
    {{ if and .Site.Params.startbuttonText .Site.Params.startbuttonLink }}
		<ul class="actions special">
      <li><a href="{{ .Site.Params.StartbuttonLink }}" class="button primary">{{ .Site.Params.StartbuttonText }}</a></li>
		</ul>
    {{ end }}
	</div>
  <a href="#one" class="more scrolly">{{ i18n "learnmore" }}</a>
</section>
